<h1 class="title">Edit Article</h1>
<%= form_for @article do |f| %>
   <%= f.label :title, "title", class: " control-label" %>
  <br>	
  <%= f.text_field :title, class: "form-control" %>
  <br>

  <%= f.label :content, "content", class: " control-label" %>
  <%= f.text_area :content, size: "60x15", class: "form-control" %>
  <%= f.submit "Save Article", class: "btn btn-default btn-purple center-bl form-control" %>
<% end %>