<!DOCTYPE html>
<html>
<head>
  <title>Travelogue</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p id="notice"><%= notice %></p>
<div class="container">
  
</br>  
  
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <div>
        <img class="navbar-brand-icon" src = "/assets/navbar-brand-icon.png">
      </div> -->
      <a class="navbar-brand" href="/">Travelogue</a>
    </div>
    <div class="collapse navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "CITIES", articles_path %></li>
        <li><%= link_to "ARTICLES", articles_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
            <li><%= link_to "Profile", user_path(current_user) %></li>
            <li><%= link_to "Log Out", destroy_session_path %></li>
        <% else %>
            <li><%= link_to "Signup", new_user_path %></li>
            <li><%= link_to "Log In", new_session_path %></li>
        <% end %>     
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</div>

<div class="container">



<%= yield %>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>