<div class="jumbotron" style="background-image: url(/assets/sfshowpage.jpg); background-size: 100%;">
  <div class="photo_title">
  <p><%= @city.name %></p>
</div>
</div>

<div class = "container">
  <div>
  <h2 class="title">Articles</h2>
  <%= button_to "write article", city_new_article_path, :method => :get, class: 'btn btn-purple' %>
  </div><hr>
  <% if @city.articles.size > 0 %>
    <% @city.articles.order(created_at: :desc).each do |article| %>
    <div class = "container">
      <h4><%= link_to article.title, article_path(article.id), class: 'title accent-text'%><br><br><%= article.created_at.strftime("%B %-d, %Y, at %l:%M%P") %></h4>
      <% if current_user == article.user %>
      <div class = "button">
        <%= link_to "edit", edit_article_path(article.id), class: 'btn btn-light' %>
      </div>
      <div class = "button">
        <%= button_to "remove", article_path(article), { method: :delete, data: {confirm: "Are you sure you want to delete '#{article.title}'?"}, class: 'btn btn-light'} %>
      </div></br>
      <% end %>
      <br><hr>
    </div>
    <% end %>
  <% else %>
    <h4>This User has not posted any articles</h4>
  <% end %>   
</div> 


