<div class="container">
  <div>
   	<h1 class="text-color"><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>
  <div>
    <img class="profile_photo" src="<%= @user.profile_photo %>">
  </div>
  <div>
    <p><span>E-mail</span> <span class="text-color"><%= @user.email %></span></p>
    <p><span>Current City</span> <span class="text-color"><%= @user.current_city %></span></p>
    <p><span>Join Date</span> <span class="text-color"><%= @user.created_at.strftime("%B %-d, %Y, at %l:%M%P") %></span></p>
  </div>
  <% if current_user == @user %>
    <div class = "buttons">
      <%= link_to "Edit", edit_user_path(@user.id) %>
      <%= button_to "Delete", @user, method: :delete %>
    </div>
  <% end %>
</div>

<div class = "container">
  <h2>Articles</h2>
  <ul>
  <% if @user.articles.size > 0 %>
    <% @user.articles.each do |article| %>
      <h4><strong><%= link_to article.title, article_path(article.id) %></strong></h4>
      <% if current_user == article.user %>
        <div class = "button">
          <%= link_to "Edit", edit_article_path(article.id), class: 'btn btn-primary' %>
          <%= button_to "Delete", article_path(article), { method: :delete, data: {confirm: "Are you sure you want to delete '#{article.title}'?"}, class: 'btn btn-danger'} %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <h4>This User has not posted any articles</h4>
  <% end %>
  </ul>
</div>
