<h1><%= @user.first_name %>'s profile</h1>

<div class = "container">
  <h3><%= @user.first_name %> <%= @user.last_name %></h3>
  <p>E-mail: <%= @user.email %></p>
  <p>Current City: <%= @user.current_city %></p>
  <p><img class="photo" src = "<%= @user.profile_photo %>" </p>
  <div>
    <%= link_to "Edit", edit_user_path(@user.id) %>
    <%= button_to "Delete", @user, method: :delete %>
  </div>
</div>

<div class = "container">
	<ul>
	  <% @user.articles.each do |article| %>
	    <li><%= article.title %></li>
	    <li><%= article.content %></li>
	    <%= link_to "Edit", edit_article_path(article.id) %>
	    <%= button_to "Delete", article, method: :delete %>
	  <% end %>
	</ul>
</div>
